// .dialog-title {
//     color: #1565c0;
//     font-size: 24px;
//     text-align: center;
//   }
  
//   .dialog-content {
//     padding: 20px;
  
//     .section {
//       margin-bottom: 20px;
  
//       .section-title {
//         font-size: 20px;
//         margin-bottom: 10px;
  
//         &.contact-info { color: #2e7d32; }
//         &.establishment-info { color: #d32f2f; }
//         &.partnership-info { color: #f57c00; }
//       }
//     }
//   }
  