<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a
                        class="whitespace-nowrap text-primary-500"
                        *transloco="let t"
                        >{{ t("Establishment interface") }}</a
                    >
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary"
                        >chevron_right</mat-icon
                    >
                    <a class="ml-1 text-primary-500" *transloco="let t">{{
                        t("Forms")
                    }}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    *transloco="let t"
                >
                    {{ t("Add establishments") }}
                </h2>
            </div>
        </div>
    </div>
    <style>
        .button-container {
            display: flex;
            justify-content: flex-end; /* Aligns buttons to the right */
            gap: 10px; /* Adds space between buttons */
        }
    </style>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-8xl">
            <h2
                class="text-2xl md:text-3xl font-extrabold leading-7 sm:leading-10 truncate"
                *transloco="let t"
            >
                {{ t("Please fill the form:") }}
            </h2>

            <form
                class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"
                *transloco="let t"
            >
                <!-- Establishment Name & Type fields -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <mat-form-field>
                        <mat-label>{{ t("Establishment name") }}</mat-label>
                        <input
                            matInput
                            required
                            [formControl]="EstablishmentNameFormControl"
                        />
                        <mat-error
                            *ngIf="
                                EstablishmentNameFormControl.errors?.required
                            "
                        >
                            {{ t("This field is required") }}
                        </mat-error>
                        <mat-icon
                            matSuffix
                            svgIcon="heroicons_solid:user-circle"
                            class="icon-size-5"
                        ></mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ t("Establishment type") }}</mat-label>
                        <mat-select
                            required
                            placeholder="{{ t('Choose...') }}"
                            [(ngModel)]="selectedType"
                            #typeSelect="ngModel"
                            name="type"
                        >
                            <mat-option value="training center">{{
                                t("Training Center")
                            }}</mat-option>
                            <mat-option value="school">{{
                                t("School")
                            }}</mat-option>
                            <mat-option value="college">{{
                                t("College")
                            }}</mat-option>
                            <mat-option value="university">{{
                                t("University")
                            }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="typeSelect.errors?.required">
                            {{ t("Please select a type") }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Contact Person Information -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <mat-form-field>
                        <mat-label>{{ t("Contact person name") }}</mat-label>
                        <input
                            matInput
                            required
                            [formControl]="ContactNameFormControl"
                        />
                        <mat-error
                            *ngIf="ContactNameFormControl.errors?.required"
                        >
                            {{ t("This field is required") }}
                        </mat-error>
                        <mat-icon
                            matSuffix
                            svgIcon="heroicons_solid:user-circle"
                            class="icon-size-5"
                        ></mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{
                            t("Contact person last name")
                        }}</mat-label>
                        <input
                            matInput
                            required
                            [formControl]="ContactLastNameFormControl"
                        />
                        <mat-error
                            *ngIf="ContactLastNameFormControl.errors?.required"
                        >
                            {{ t("This field is required") }}
                        </mat-error>
                        <mat-icon
                            matSuffix
                            svgIcon="heroicons_solid:user-circle"
                            class="icon-size-5"
                        ></mat-icon>
                    </mat-form-field>
                </div>

                <!-- Email Address & Contact Number -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <!-- Email Address -->
                    <mat-form-field>
                        <mat-label>{{ t("Email address") }}</mat-label>
                        <input
                            type="email"
                            matInput
                            required
                            placeholder="pat@example.com"
                            [formControl]="emailFormControl"
                        />
                        <mat-error *ngIf="emailFormControl.errors?.required">
                            {{ t("This field is required") }}
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.errors?.email">
                            {{ t("Please enter a valid email address") }}
                        </mat-error>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:envelope'"
                        ></mat-icon>
                    </mat-form-field>
                    <!-- Contact Number -->
                    <mat-form-field>
                        <mat-label>{{ t("Contact number") }}</mat-label>
                        <span matTextPrefix>+216 &nbsp;</span>
                        <input
                            type="tel"
                            matInput
                            placeholder="55-555-123"
                            [formControl]="contactNumberFormControl"
                            required
                        />
                        <mat-error
                            *ngIf="contactNumberFormControl.errors?.required"
                        >
                            {{ t("This field is required") }}
                        </mat-error>
                        <mat-error
                            *ngIf="contactNumberFormControl.errors?.pattern"
                        >
                            {{ t("Please enter a valid contact number") }}
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactNumberFormControl.errors?.minlength &&
                                !contactNumberFormControl.errors?.pattern
                            "
                        >
                            {{ t("Contact number is too short") }}
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactNumberFormControl.errors?.maxlength &&
                                !contactNumberFormControl.errors?.pattern
                            "
                        >
                            {{ t("Contact number is too long") }}
                        </mat-error>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:phone'"
                        ></mat-icon>
                    </mat-form-field>
                </div>

                <!-- Location & Photo -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <!-- Location -->
                    <mat-form-field>
                        <mat-label>{{ t("Location") }}</mat-label>
                        <mat-select
                            required
                            placeholder="{{ t('Choose...') }}"
                            [(ngModel)]="selectedLocation"
                            #locationSelect="ngModel"
                            name="location"
                        >
                            <mat-option value=""></mat-option>
                        </mat-select>
                        <mat-error *ngIf="locationSelect.errors?.required">
                            {{ t("Please select a location") }}
                        </mat-error>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:map-pin'"
                        ></mat-icon>
                    </mat-form-field>
                    <!-- Establishment photo -->
                </div>

                <!-- Submit and Reset Buttons -->
                <div class="button-container">
                    <button
                        mat-flat-button
                        type="reset"
                        class="reset-button"
                        color="warn"
                    >
                        {{ t("Reset") }}
                    </button>
                    <button
                        mat-flat-button
                        type="submit"
                        class="submit-button"
                        color="primary"
                    >
                        {{ t("Submit") }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
