<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a
                        class="whitespace-nowrap text-primary-500"
                        *transloco="let t"
                        >{{ t("Establishment interface") }}</a
                    >
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary"
                        >chevron_right</mat-icon
                    >
                    <a class="ml-1 text-primary-500" *transloco="let t">{{
                        t("Forms")
                    }}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    *transloco="let t"
                >
                    {{ t("Add establishments") }}
                </h2>
            </div>
        </div>
    </div>
    <style>
        .button-container {
            display: flex;
            justify-content: flex-end; /* Aligns buttons to the right */
            gap: 10px; /* Adds space between buttons */
        }
    </style>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-8xl">
            <h2
                class="text-2xl md:text-3xl font-extrabold leading-7 sm:leading-10 truncate"
                *transloco="let t"
            >
                {{ t("Please fill the form:") }}
            </h2>

            <form
                class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"
                *transloco="let t"
            >
                <!-- Establishment Name & Type fields -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <mat-form-field>
                        <mat-label>{{ t("Establishment name") }}</mat-label>
                        <input matInput />
                        <mat-icon
                            matSuffix
                            svgIcon="heroicons_solid:user-circle"
                            class="icon-size-5"
                        ></mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ t("Establishment type") }}</mat-label>
                        <mat-select>
                            <mat-option value="school">{{
                                t("School")
                            }}</mat-option>
                            <mat-option value="college">{{
                                t("College")
                            }}</mat-option>
                            <mat-option value="university">{{
                                t("University")
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Contact Person Information -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <mat-form-field>
                        <mat-label>{{ t("Contact person name") }}</mat-label>
                        <input matInput />
                        <mat-icon
                            matSuffix
                            svgIcon="heroicons_solid:user-circle"
                            class="icon-size-5"
                        ></mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ t("Contact person title") }}</mat-label>
                        <input matInput />
                        <mat-icon
                            matSuffix
                            svgIcon="heroicons_solid:user-circle"
                            class="icon-size-5"
                        ></mat-icon>
                    </mat-form-field>
                </div>

                <!-- Email Address & Contact Number -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <mat-form-field>
                        <mat-label>{{ t("Email address") }}</mat-label>
                        <input
                            type="email"
                            matInput
                            placeholder="Ex. pat@example.com"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:mail'"
                        ></mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ t("Contact number") }}</mat-label>
                        <span matTextPrefix>+216 &nbsp;</span>
                        <input type="tel" matInput placeholder="55-555-123" />
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:phone'"
                        ></mat-icon>
                    </mat-form-field>
                </div>

                <!-- Establishment's Address -->
                <div class="grid grid-cols-1">
                    <mat-form-field>
                        <mat-label>{{ t("Address") }}</mat-label>
                        <textarea matInput></textarea>
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:home'"
                        ></mat-icon>
                    </mat-form-field>
                </div>

                <!-- Submit and Reset Buttons -->
                <div class="button-container">
                    <button
                        mat-flat-button
                        type="reset"
                        class="reset-button"
                        color="warn"
                    >
                        {{ t("Reset") }}
                    </button>
                    <button
                        mat-flat-button
                        type="submit"
                        class="submit-button"
                        color="primary"
                    >
                        {{ t("Submit") }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
