<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div *transloco="let t" class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{t("Analytics dashboard")}}</div>
                <div class="font-medium tracking-tight text-secondary">{{t("Monitor metrics, check reports and reviewperformance")}}</div>
            </div>
        </div>

        <!-- Number Statistics -->
        <div *transloco="let t" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-6 w-full min-w-0 mt-8">
            <!-- Tutors -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Tutors")}}</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none" style="color: #4FD1C5;">
                        {{numberTutors[0].TutorsCount}}</div>
                    <div class="text-lg font-medium" style="color: #4FD1C5;">{{t("registered tutors")}}</div>
                </div>
            </div>
            <!-- Candidates -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Candidates")}}</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <!-- <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none" style="color: #F6AD55;">{{numberCandidates[0].CandidatesCount}}</div> -->
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none" style="color: #F6AD55;">44
                    </div>
                    <div class="text-lg font-medium" style="color: #F6AD55;">{{t("registered candidates")}}</div>
                </div>
            </div>
            <!-- Categories -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Categories")}}</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none" style="color: #B794F4;">
                        {{numberCategories[0].CategoriesCount}}</div>
                    <div class="text-lg font-medium" style="color: #B794F4;">{{t("unique categories")}}</div>
                </div>
            </div>
            <!-- Courses -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Courses")}}</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <!-- <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none" style="color: #63B3ED;">{{numberCourses[0].CoursesCount}}</div> -->
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none" style="color: #63B3ED;">9
                    </div>
                    <div class="text-lg font-medium" style="color: #63B3ED;">{{t("uploaded courses")}}</div>
                </div>
            </div>
            <!-- Badges -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Badges")}}</div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <!-- <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">{{numberBadges[0].BadgesCount}}</div> -->
                    <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">10</div>
                    <div class="text-lg font-medium text-red-600 dark:text-red-500">{{t("badges")}}</div>
                </div>
            </div>
        </div>


        <!-- Age & Gender Statistics -->
        <div *transloco="let t" class="flex w-full mt-12">
            <!-- Tutor section -->
            <div class="flex-1">
                <div class="text-2xl font-semibold tracking-tight leading-6">{{t("Your Tutors")}}</div>
                <div class="font-medium tracking-tight text-secondary">{{t("Demographic properties of your tutors")}}
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8 mt-6 md:mt-8">
                    <!-- Gender -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Gender")}}</div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartGender.chart" [colors]="chartGender.colors" [labels]="chartGender.labels"
                                [plotOptions]="chartGender.plotOptions" [series]="chartGender.series"
                                [states]="chartGender.states" [tooltip]="chartGender.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of chartGender.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartGender.colors[i]"></div>
                                            <div class="ml-3 truncate">{{chartGender.labels[i]}}</div>
                                        </div>
                                        <div class="font-medium text-right">{{dataset}}</div>
                                        <div class="text-right text-secondary">
                                            {{(dataset/(chartGender.series[0]+chartGender.series[1]))*100 |
                                            number:'1.0-0'}}%</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Age -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Age")}}</div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartAge.chart" [colors]="chartAge.colors" [labels]="chartAge.labels"
                                [plotOptions]="chartAge.plotOptions" [series]="chartAge.series"
                                [states]="chartAge.states" [tooltip]="chartAge.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of chartAge.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartAge.colors[i]"></div>
                                            <div class="ml-3 truncate">{{chartAge.labels[i]}}</div>
                                        </div>
                                        <div class="font-medium text-right">{{dataset}}</div>
                                        <div class="text-right text-secondary">
                                            {{(dataset/(chartAge.series[0]+chartAge.series[1]))*100 | number:'1.0-0'}}%
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Vertical Divider -->
            <div class="flex items-end">
                <div class="w-px bg-gray-300 mx-4" style="height: 83%;"></div>
            </div>

            <!-- Candidate section -->
            <div class="flex-1">
                <div class="text-2xl font-semibold tracking-tight leading-6">{{t("Your Candidates")}}</div>
                <div class="font-medium tracking-tight text-secondary">{{t("Demographic properties of yourcandidates")}}</div>
                <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8 mt-6 md:mt-8">
                    <!-- Gender -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Gender")}}</div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartGenderC.chart" [colors]="chartGenderC.colors"
                                [labels]="chartGenderC.labels" [plotOptions]="chartGenderC.plotOptions"
                                [series]="chartGenderC.series" [states]="chartGenderC.states"
                                [tooltip]="chartGenderC.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of chartGenderC.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartGenderC.colors[i]"></div>
                                            <div class="ml-3 truncate">{{chartGenderC.labels[i]}}</div>
                                        </div>
                                        <div class="font-medium text-right">{{dataset}}</div>
                                        <div class="text-right text-secondary">
                                            {{(dataset/(chartGenderC.series[0]+chartGenderC.series[1]))*100 |
                                            number:'1.0-0'}}%</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Age -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">{{t("Age")}}</div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartAgeC.chart" [colors]="chartAgeC.colors" [labels]="chartAgeC.labels"
                                [plotOptions]="chartAgeC.plotOptions" [series]="chartAgeC.series"
                                [states]="chartAgeC.states" [tooltip]="chartAgeC.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of chartAgeC.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartAgeC.colors[i]"></div>
                                            <div class="ml-3 truncate">{{chartAgeC.labels[i]}}</div>
                                        </div>
                                        <div class="font-medium text-right">{{dataset}}</div>
                                        <div class="text-right text-secondary">
                                            {{(dataset/(chartAgeC.series[0]+chartAgeC.series[1]))*100 |
                                            number:'1.0-0'}}%</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>