<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full">
        <mat-drawer class="w-90 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>
            <div class="flex flex-col items-start p-8 border-b">
                <a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['..']">
                    <span class="inline-flex items-center">
                        <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:arrow-small-left'"></mat-icon>
                        <span class="ml-1.5 font-medium leading-5">Back to courses</span>
                    </span>
                </a>
                <div class="mt-3 text-2xl font-semibold">{{myCourse.TitleCourse}}</div>
                <div class="text-secondary">{{myCourse.Subtitle}}</div>
                <div class="mt-6 flex items-center leading-5 text-md text-secondary">
                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                    <div class="ml-1.5">{{ myCourse.DurationHour }} Hours</div>
                </div>
            </div>

            <div class="py-2 px-8">
                <ol>
                    <ng-container *ngFor="let lesson of lessons; let last = last; trackBy: trackByFn">
                        <li class="relative group py-6" [class.current-step]="lesson.OrderLesson === currentOrderLesson">
                            <ng-container *ngIf="!last">
                                <div class="absolute top-6 left-4 w-0.5 h-full -ml-px" [ngClass]="{
                                    'bg-primary': lesson.OrderLesson < currentOrderLesson,
                                    'bg-gray-300 dark:bg-gray-600': lesson.OrderLesson >= currentOrderLesson
                                }"></div>
                            </ng-container>
                            <div class="relative flex items-start cursor-pointer" (click)="goToStep(lesson.OrderLesson, lesson.ContentLesson, lesson.PictureLesson)">
                                <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset bg-card dark:bg-default bg-primary dark:bg-primary text-on-primary group-hover:bg-primary-800 ring-primary"
                                    [ngClass]="{
                                        'bg-primary dark:bg-primary text-on-primary group-hover:bg-primary-800 ring-transparent': lesson.OrderLesson < currentOrderLesson,
                                        'ring-primary': lesson.OrderLesson === currentOrderLesson,
                                        'ring-gray-300 dark:ring-gray-600 group-hover:ring-gray-400': lesson.OrderLesson > currentOrderLesson
                                    }">
                                    <ng-container *ngIf="lesson.OrderLesson < currentOrderLesson">
                                        <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="lesson.OrderLesson === currentOrderLesson">
                                        <div class="text-md font-semibold text-primary dark:text-primary-500">{{lesson.OrderLesson}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="lesson.OrderLesson > currentOrderLesson">
                                        <div class="text-md font-semibold text-hint group-hover:text-secondary">{{lesson.OrderLesson}}</div>
                                    </ng-container>
                                </div>
                                <div class="ml-4">
                                    <div class="font-medium leading-4">{{ lesson.TitleLesson }}</div>
                                    <div class="mt-1.5 text-md leading-4 text-secondary">{{ lesson.SubTitleLesson }}</div>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ol>
            </div>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col overflow-hidden">
            <div class="lg:hidden flex flex-0 items-center py-2 pl-4 pr-6 sm:py-4 md:pl-6 md:pr-8 border-b lg:border-b-0 bg-card dark:bg-transparent">
                <a mat-icon-button [routerLink]="['..']">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-small-left'"></mat-icon>
                </a>
                <h2 class="ml-2.5 text-md sm:text-xl font-medium tracking-tight truncate">
                    {{ currentLessonContent }}
                </h2>
            </div>
            <mat-progress-bar class="hidden lg:block flex-0 h-0.5 w-full" [value]="100 * (currentOrderLesson) / totalLessons"></mat-progress-bar>

            <div class="flex-auto overflow-y-auto" cdkScrollable>
                <mat-tab-group class="fuse-mat-no-header" [animationDuration]="'200'" #courseSteps>
                    <ng-container>
                        <mat-tab *ngFor="let lesson of lessons">
                            <ng-template matTabContent>
                                <div class="prose prose-sm max-w-3xl mx-auto sm:my-2 lg:mt-4 p-6 sm:p-10 sm:py-12 rounded-2xl shadow overflow-hidden bg-card">
                                    <img [src]="getLessonPicture(currentLessonImg)" alt="Lesson Picture" style="width: 100%; height: auto;" />
                                    <div [innerHTML]="currentLessonContent"></div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab *ngIf="currentOrderLesson === totalLessons">
                            <ng-template matTabContent>
                                <div class="prose prose-sm max-w-3xl mx-auto sm:my-2 lg:mt-4 p-6 sm:p-10 sm:py-12 rounded-2xl shadow overflow-hidden bg-card">
                                    <div *ngFor="let exercice of exercices">
                                        <div class="font-semibold text-xl mb-2">{{ exercice.ExerciceTitle }}</div>
                                        <div>{{ exercice.ExerciceDescription }}</div>
                                        <div *ngFor="let question of exercice.Questions">
                                            <div class="font-semibold text-lg mt-4">{{ question.QuestionTitle }}</div>
                                            <div>{{ question.QuestionContent }}</div>
                                            <ul class="list-disc pl-5">
                                                <li *ngFor="let proposition of question.Propositions">{{ proposition.content }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>
            </div>

            <div class="z-10 sticky hidden lg:flex bottom-4 p-4">
                <div class="flex items-center justify-center mx-auto p-2 rounded-full shadow-lg bg-primary">
                    <button class="flex-0" mat-flat-button [color]="'primary'" (click)="goToPreviousStep()">
                        <span class="inline-flex items-center">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                            <span class="mr-1">Prev</span>
                        </span>
                    </button>
                    <div class="flex items-center justify-center mx-2.5 font-medium leading-5 text-on-primary">
                        <span>{{ currentOrderLesson }}</span>
                        <span class="mx-0.5 text-hint">/</span>
                        <span>{{ totalLessons }}</span>
                    </div>
                    <button class="flex-0" mat-flat-button [color]="'primary'" (click)="goToNextStep()">
                        <span class="inline-flex items-center">
                            <span class="ml-1">Next</span>
                            <mat-icon class="ml-2" [svgIcon]="'heroicons_outline:arrow-long-right'"></mat-icon>
                        </span>
                    </button>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
